.App {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
}

.content {
    display: grid;
    justify-content: center;
    margin: 0.5rem;
    padding: 1rem;
    min-width: 300px;
    grid-template-columns: 100%;
}

.words-used {
    margin-top: 0.5rem;
}

.controls {
    margin-block: 0.25rem;
}

.content > form {
    margin: 0.25rem;
    margin-bottom: 0.75rem;
}

.word-input {
    width: 100%;
}

.divider {
    padding-left: 1rem;
}

.results {
    max-height: 300px;
    overflow: auto;
}
